body{
    background:#ffbf85;
}

.title_creation_sortie{
    text-align: center;
}

.disabled
{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.7;
    padding: 0em;
    margin: 0em;
}

.title-bar{
    background:#00407a;
    height: 5em;
}

.white-font{
    color: white;
}

a:hover{
    color:#00407a;
}

a:active{
    color: #00407a;
}

a:focus{
    color: #ffbf85;
}

li:hover{
    background:#ffffff;
    border-radius: 1em;
}

.button{
    margin: 0em;
    border-radius: 1em;
    border-width: 0;
    background: linear-gradient(to bottom right, #00407a, #0077E4);
    box-shadow: 0.5em 0.2em 0.2em #525252;
}

.button:hover{
    background: linear-gradient(to bottom right, #0077E4, #00407a);
}

.button:focus{
    color: #ffbf85;
}

.title-centered{
    text-align: center;
}
.btn-center{
    justify-content: center;
}

