<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Appel CSS Foundation (dans le head) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
          integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}

    <div id="sortie-menu-tablette" data-sticky-container class="sortie-menu-tablette mobile-nav-bar title-bar" style="width:100%">
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="title-bar-left">
{#                <button class="menu-icon" type="button"></button>#}
            </div>
            <div class="title-bar-center">
                <a href="/home"><h1 class="title_site title-bar-text">Sortir.com</h1></a>
            </div>
            <div class="title-bar-right">
{#                <h4 class="title-bar-text">Accueil</h4>#}
{#                <span class="title-bar-text"><a href="#"><i class="fa fa-home title-bar-logo"></i></a></span>#}
            </div>
        </div>
    </div>

    <div id="sortie-menu" class="sortie-menu" data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="title-bar-left">
                <div class="menu">
                    <li class="title-bar-title">
                        <a href="/home"><img class="" src="{{ asset("img/eni_img.png") }}"></a>
                    </li>
                    <a href="/home"><h1 class="title_site">
                            Sortir.com
                        </h1></a>
                </div>
            </div>
            <div class="title-bar-right">
                <ul class="menu align-right">

                    {% if app.user == null %}
                        <li><a class="white-font" href="/login">Se Connecter</a></li>
                    {% else %}
                        <li><a class="white-font" href="/home">Accueil</a></li>
                        {% if(app.user.administrateur == 1) %}
                            <li><a class="white-font" href="/ville">Villes</a></li>
                            <li><a class="white-font" href="/site">Sites</a></li>
                        {% endif %}
                        <li><a class="white-font" href="{{ path('profil_show', {'id': app.user.id}) }}">Mon profil</a></li>
                        <li><a class="white-font" href="/logout">Se déconnecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
<!-- Appel JS Foundation (en fin de body) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script type="text/javascript">$(document).foundation();
</script>
<script src="{{ asset('script/showPlaceInfo.js') }}"></script>
<script>
    document.getElementById('ville').addEventListener("change", afficherLieux);
    document.getElementById('places_to_go').addEventListener("change", afficherLieuxInfos);
</script>
</body>
</html>