<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Appel CSS Foundation (dans le head) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
          integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
    <div data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="title-bar-left">
                <div class="menu">
                    <li class="title-bar-title">
                        <img class="" src="{{ asset("img/eni_img.png") }}">
                    </li>
                </div>
            </div>
            <div class="title-bar-right">
                <ul class="menu align-right">
                    <li><a class="white-font" href="/home">Accueil</a></li>
                    <li><a class="white-font" href="/ville">Villes</a></li>
                    <li><a class="white-font" href="/site">Sites</a></li>
                    {% if app.user == null  %}
                        <li><a class="white-font" href="/login">Se Connecter</a></li>
                        {% else %}
                            <li><a class="white-font" href="#">Mon profil</a></li>
                            <li><a class="white-font" href="/logout">Se déconnecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
<!-- Appel JS Foundation (en fin de body) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script type="text/javascript">$(document).foundation();
</script>
<script src="{{ asset('script/showPlaceInfo.js') }}"></script>
<script>
    document.getElementById('ville').addEventListener("change", afficherLieux);
    document.getElementById('places_to_go').addEventListener("change", afficherLieuxInfos);
</script>
</body>
</html>